/* LandingPage.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.landing-page {
  background: linear-gradient(to right, rgba(128, 128, 128, 0.04) 1px, transparent 1px),
              linear-gradient(to bottom, rgba(128, 128, 128, 0.04) 1px, transparent 1px);
  background-size: 20px 30px;
  box-sizing: border-box;
  background-color: #121212;
  color: #ffffff;
  padding: 2rem 0;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  height: 72vh;
  width: 70%;
  margin: 0 auto;
  padding: 0 3rem;
}

.hero-player {
  flex: 1;
  max-width: 390px;
}

.hero-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  font-family: 'Dancing Script';
  font-size: 4.2rem;
  color: #fff;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    2px 2px 0 #245039,
    4px 4px 0 #45b7aa;
  letter-spacing: 3px;
  transform: rotate(-3deg);
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}

.hero-title::before {
  content: 'KilimoLog';
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
  -webkit-text-stroke: 2px #000;
  z-index: -1;
}

.hero-paragraph {
  font-size: 1.1rem;
}

.get-in-touch {
  margin-top: 30px;
}

.learn_more {
  background-color: #007bff;
  color: #ffffff;
  padding: 0.8rem 1.4rem;
  border-radius: 9px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 10px;
  align-items: center;
}

.learn_more:hover {
  background-color: #0097ef;
}

.box-container {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.arrow-icon {
  position: absolute;
  right: -50px;
  width: 70px;
}

.arrow-icon svg {
  fill: #805ad5;
  width: 100%;
  height: auto;
}

.text {
  font-size: 1.3rem;
  position: absolute;
  right: -85px;
  top: -40px;
  transform: rotate(12deg);
  font-family: 'Caveat', cursive;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .hero-container {
    width: 90%;
    flex-direction: column;
    padding: 2rem;
    height: auto;
  }

  .hero-player {
    max-width: 250px;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-paragraph {
    font-size: 1rem;
  }

  .learn_more {
    font-size: 1rem;
    padding: 0.6rem 1rem;
  }

  .box-container {
    margin-left: 10px;
  }

  .arrow-icon {
    right: -46px;
    width: 60px;
  }

  .text {
    font-size: 1.1rem;
    right: -60px;
    top: -30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1030px) {
  .hero-container {
    width: 80%;
    padding: 3rem;
  }

  .hero-player {
    max-width: 280px;
  }

  .hero-title {
    font-size: 3.5rem;
  }

  .learn_more {
    font-size: 1.05rem;
    padding: 0.7rem 1.2rem;
  }

  .box-container {
    margin-left: 10px;
  }

  .arrow-icon {
    right: -46px;
    width: 60px;
  }

  .text {
    font-size: 1.1rem;
    right: -60px;
    top: -30px;
  }
}

@media (max-width: 480px) {
  .hero-container {
    width: 95%;
    flex-direction: column;
    padding: 1rem;
    height: auto;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-paragraph {
    font-size: 0.9rem;
  }

  .learn_more {
    font-size: 0.9rem;
    padding: 0.5rem 0.9rem;
  }

  .box-container {
    margin-left: 0; /* Reset margin for smaller screens */
    margin-top: 12px; /* Add space above for stacking */
  }

  .arrow-icon {
    right: -45px; /* Adjust arrow icon position */
    width: 50px; /* Adjust icon size */
  }

  .text {
    font-size: 1rem; /* Smaller text for very small screens */
    right: -67px; /* Adjust position */
    top: -20px; /* Adjust position */
  }
}