@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.landing-page {
  padding: 5rem 0;
  background-color: #f8fafc;
}

/* Hero Section */
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  padding: 100px 20px;
  background: linear-gradient(to right, #16a34a, #4cae4c);
  color: #ffffff;
}

.hero-player {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.player {
  width: 100%;
  height: auto;
}

.hero-title {
  font-size: clamp(1.8rem, 4vw, 2rem);
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.hero-paragraph {
  font-size: 1.1rem;
  margin-bottom: 20px;
  max-width: 800px;
}

/* Button Styles */


.learn_more {
  text-decoration: none;
  background-color: #ff9800;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: 0.3s;
}

.learn_more:hover {
  background-color: #e68900;
}

.box-container {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.arrow-icon {
  position: absolute;
  right: -50px;
  width: 60px;
}

.arrow-icon svg {
  fill: #805ad5;
  width: 100%;
  height: auto;
  color: #ffffff;
}

.text {
  font-size: 1.3rem;
  position: absolute;
  right: -85px;
  top: -40px;
  transform: rotate(12deg);
  font-family: 'Caveat', cursive;
  color: #ffffff;
}


/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}


@media (min-width: 768px) {
  .hero-container {
    flex-direction: row;
    text-align: left;

  }
  .hero-section {
    max-width: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .hero-container {
    padding: 80px 30px;
  }
  .hero-title {
    font-size: 1.8rem;
  }
  .hero-paragraph {
    font-size: 1.1rem;
  }
}
