
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #245036;
  padding: 10px;
  color: white;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar-nav .nav-item {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.navbar-nav .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Media Queries for Small Screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navbar-brand {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .navbar-brand a {
    font-size: 1.2em;
  }

  .navbar-nav {
    display: none;
  }
  .navbar-nav .nav-item {
    margin-left: 0;
  }
}
