/* navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121412;
  color: #fff;
  padding: 1.5rem;
}

.navbar-menu {
  display: none; /* Hidden by default on normal screens */
}

.hamburger {
  font-size: 1.5rem;
  cursor: pointer;
}

.hamburger:hover {
  color: #ccc;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-brand a {
  color: #fff;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.user-avatar {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  margin-right: 8px;
}

/* Small screens (sm) */
@media (max-width: 767px) {
  .navbar-menu {
    display: block;
  }

  .navbar-nav {
    display: none;
    position: absolute;
    top: 60px; /* Height of the navbar */
    left: 0;
    width: 100%;
    background-color: #121412;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-nav.active {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .user-info {
    display: none;
  }
}
