.settings {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 70%; /* Adjust width as needed */
  margin-left: 20%; /* Adjust margin-left to push it beside the sidebar */
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-top: 20px;
}

.settings-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.settings-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.settings-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.setting-item {
  margin-bottom: 1.5rem;
}

.setting-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.setting-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.setting-button,
.delete-account {
  background-color: #4CAF50;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.setting-button{
  margin-top: 10px;
}
.setting-button:hover,
.delete-account:hover {
  background-color: #3e8e41;
}

.delete-account {
  background-color: #e74c3c;
}

.delete-account:hover {
  background-color: #c0392b;
}

/* For mobile phones and small tablets */
@media only screen and (max-width: 767px) {
  .settings {
    width: 80%;
    margin: 0 auto; /* Move it to the edge */
  }
}
