
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 18%;
  height: 100vh;
  background-color: #245036;
  font-size: 1em;
  z-index: 1000;
  transition: transform 0.3s ease;
  transform: translateX(0); /* Visible by default */
}

.sidebar.hidden {
  transform: translateX(-100%); /* Hide sidebar in small and medium screens */
}

.sidebar-links {
  position: relative;
  text-align: center; /* Center the links */
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.sidebar-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-links ul li {
  position: relative;
  margin: 3.2em 0;
}

.sidebar-links ul li a {
  line-height: 4em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: white;
  display: block;
  transition: all ease-out 300ms;
}

.sidebar-links ul li.active a {
  color: white;
}

.sidebar-links ul li:not(.active)::after {
  opacity: 0.2;
}

.sidebar-links ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
  background-color: #2d6343
}

/* Menu button styles */
.menu-btn {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  background: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1100; /* Above the sidebar */
}

.menu-btn svg {
  font-size: 20px;
}

@media (max-width: 992px) {
  .menu-btn {
    display: block;
  }

  .sidebar {
    width: 100%; /* Cover the whole screen on small screens */
    transform: translateX(-100%); /* Hide sidebar by default */
    font-size: 1em;
  }

  .sidebar.visible {
    transform: translateX(0); /* Show sidebar when visible */
  }

  .sidebar-links {
    margin: 0; /* Remove left and right margin on small screens */
    text-align: center; /* Center the links */
  }
}
