/* settings.css */
  .settings {
    margin: 0 auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    height:83vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
   
  }
  .settings-container{
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
  .settings-header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .settings-title {
    font-size: 2rem;
    color: #333; /* Dark color for the title */
  }
  
  .section-title {
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem;
    color: #007bff; /* Primary color for section titles */
  }
  
  .setting-item {
    margin-bottom: 1.5rem;
  }
  
  .setting-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555; /* Slightly lighter color for labels */
  }
  
  .setting-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    transition: border-color 0.3s ease; /* Transition effect for input border */
  }
  
  .setting-input:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove outline */
  }
  
  .setting-button, .delete-account {
    padding: 0.5rem 1rem;
    background-color: #28a745; /* Green background for change password button */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition effect for button */
  }
  
  .setting-button:hover {
    background-color: #218838; /* Darker green on hover */
  }
  
  .delete-account {
    background-color: #dc3545; /* Red background for delete account button */
    margin-top: 0.5rem;
  }
  
  .delete-account:hover {
    background-color: #c82333; /* Darker red on hover */
  }
  @media (max-width: 768px) {
    .settings {
        height: auto;
    }
  }